/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar */
.full-logo {
  width:200px;
  height: auto;
}

.shrink-logo {
  width:100px!important;
  height: auto;
}

.navbar {
  background-color: rgba(0, 0, 0, 0); }

.top-nav-collapse {
  background-color: #1C2331;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

/* Intro */
@media screen and (max-width: 451px) {
  #tagline {
    font-size: 27px;
  }
}
@media screen and (min-width: 451px) {
  #tagline {
    font-size: 37px;
  }
}

/* Trainer section */
.credentials {
  font-family: roboto;
  color: #707070;
  margin: 0px;
  font-size: 16px;
  font-weight: 100;
}

@media screen and (max-width: 414px) {
  .credentials {
    font-size: 14px;
  }
}
@media screen and (min-width: 414px) {
  .credentials {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #falname {
    font-size: 44px;
  }
}
@media screen and (min-width: 480px) {
  #falname {
    font-size: 60px;
  }
}

/* Plans section */
.planBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.planTitle {
  font-family: proxima-nova-extra-condensed;
  font-display: auto;
  font-style: italic;
  font-weight:900;
  font-size: 40px;
  color: white;
}

.planPrice {
  font-family: proxima-nova-extra-condensed;
  font-display: auto;
  font-weight:900;
  font-size: 105px;
  color: white;
  line-height: 80px;
  margin-top: 1.2rem;
  margin-bottom: 0rem;
}

.planRate {
  font-family: roboto;
  font-weight: 700;
  font-size: 35px;
}

.planDesc {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-size: 21px;
}

.planType {
  color: #b5b5b5;
  font-size: 16px;
  margin-bottom: .75rem;
}

/* Services section */
.serviceTitle {
  font-family: proxima-nova-extra-condensed;
  font-display: auto;
  font-style: italic;
  font-weight:900;
  font-size: 40px;
  color: white;
}

/* Custom icons */
.personal {
  background: url('../img/icons/user_group_man_man.svg');
  height: 30px;
  width: 30px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.basketball {
  background: url('../img/icons/basketball.svg');
  height: 30px;
  width: 30px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.mobility {
  background: url('../img/icons/gymnastics.svg');
  height: 30px;
  width: 30px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.gym {
  background: url('../img/icons/bench-press.svg');
  height: 30px;
  width: 30px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.home {
  background: url('../img/icons/pushups.svg');
  height: 30px;
  width: 30px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.chevron {
  background: url('../img/svg/arrowRightGrey.svg');
  height: 15px;
  width: 15px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
}

/* Success modal */
.modalTitle {
  font-family: proxima-nova-extra-condensed;
  font-display: auto;
  font-style: italic;
  font-weight:900;
  font-size: 30px;
  color: white;
}

.modalFooter {
  background-color: #f0f0f0;
}

/* Motivational Quote */
@media screen and (max-width: 600px) {
  #motivation {
    font-size: 85px;
  }
}
@media screen and (min-width: 600px) {
  #motivation {
    font-size: 115px;
  }
}